<nz-layout>
  <app-header></app-header>

  <nz-layout>
    <nz-sider class="print:hidden" nzWidth="200px" [nzTheme]="theme" nzCollapsible nzBreakpoint="xxl" [nzCollapsedWidth]="0"
      [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <ul nz-menu [nzTheme]="theme" nzMode="inline" class="sider-menu surapon-bg-main">
        <li nz-submenu nzOpen nzIcon="appstore-add" style="font-size: 18px;" nzTitle="เมนู">
          <ul>
            <li nz-menu-item routerLink="/register/patient-list" routerLinkActive="ant-menu-item-selected">
              <span nz-icon nzType="home" nzTheme="twotone"></span>&nbsp;หน้าหลัก
            </li>
            <li nz-menu-item routerLink="/register/patient-list/pharmacist" routerLinkActive="ant-menu-item-selected">
              <span nz-icon nzType="contacts" nzTheme="twotone"></span>&nbsp;เภสัชกร
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <!-- <app-sidebar></app-sidebar> -->

    <nz-layout class="inner-layout">
      <div class="flex flex-row pl-5 pt-4 w-full align-middle print:hidden">
        <div class="w-fit">
          <span class="trigger p-2 bg-slate-200 cursor-pointer mr-2" nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"
            style="font-size: 18px; color: rgb(1, 17, 26);"></span>
        </div>
        <div class="w-full border-b-2">
          <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
        </div>
      </div>

      <router-outlet></router-outlet>

      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
