<nz-content>
  <div class="inner-content" class="bg-surapon-2">
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-card style="width: 100%" class="bg-surapon-2" nzBorderless="true">
          <div nz-row style="padding-bottom: 24px">
            <h1 nz-typography>
              <span nz-icon nzType="user" nzTheme="outline"></span>
              ข้อมูลผู้ป่วย
            </h1>
          </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
              <nz-card class="bg-surapon-5 shadow rounded-md">
                <!-- <div nz-col nzSpan="12" nzOffset="6">
                  <img class="shadow-md mb-4 p-2" nz-image width="250px" src="/assets/images/surapon-img/logo_h.png"
                    alt="" />
                </div> -->
                <div class="text-center" style="font-size: 16px">
                  <nz-table nzTemplateMode [nzBordered]="false" nzShowPagination="false" class="shadow-md mb-2"
                    nzSize="small" nzBordered="true">
                    <tbody>
                      <tr class="tr-surapon-1">
                        <td>HN</td>
                        <td>{{ items.hn }}</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>เลขบัตร</td>
                        <td>{{ items.cid }}</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>ชื่อ</td>
                        <td>
                          {{ items.title }}{{ items.fname }} {{ items.lname }}
                        </td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>เพศ</td>
                        <td>{{items.ptsex}}</td>
                      </tr>
                      <!-- <tr class="tr-surapon-1">
                        <td>วันเกิด</td>
                        <td>20 มกราคา 2546</td>
                      </tr> -->
                      <tr class="tr-surapon-1">
                        <td>อายุ</td>
                        <td>{{items.age | thaiage}}</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>เบอร์โทรศัพท์</td>
                        <td>{{ items.phone }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                  <nz-table nzTemplateMode [nzBordered]="false" nzShowPagination="false" class="shadow-md"
                    nzSize="small" nzBordered="true">
                    <tbody>
                      <tr class="tr-surapon-1">
                        <td>วันที่รับบริการ</td>
                        <td>{{ items.regdate | thaidate : "medium" }}</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>ครั้งที่</td>
                        <td>{{ items.frequency }}</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>จุดลงทะเบียน</td>
                        <td>ห้องบัตร</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>จุดคัดกรอง</td>
                        <td>จุดคัดกรอง Telemedicine</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>ห้องตรวจ</td>
                        <td>ห้องตรวจ Telemedicine</td>
                      </tr>
                      <tr class="tr-surapon-1">
                        <td>คลินิก</td>
                        <td>Telemedicine</td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </nz-card>
            </div>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="18">
        <nz-card style="width: 100%; height: 100%" [nzTitle]="titleTemplate" [nzExtra]="extraTemplate"
          nzBorderless="true" class="bg-surapon-1">
          <ng-template #titleTemplate>
            <h1 nz-typography>
              <span nz-icon nzType="file-search" nzTheme="outline"></span>
              ตรวจโรค
            </h1>
          </ng-template>
          <ng-template #extraTemplate>
            <button nz-button [nzSize]="'large'" (click)="showConfirm()" nzType="primary" class="mr-2">
              <span nz-icon nzType="file-done" nzTheme="outline"></span>บันทึก
            </button>
            <button nz-button [nzSize]="'large'" nzType="primary" nzDanger>
              <span nz-icon nzType="undo" nzTheme="outline"></span>ล้างข้อมูล
            </button>
          </ng-template>

          <nz-tabset nzSize="large" style="padding: 0 24px; padding-top: 12px" class="bg-surapon-4 shadow rounded-md">
            <nz-tab [nzTitle]="titleTemplate2">
              <div nz-row style="padding-bottom: 24px">
                <div nz-col nzFlex="2" style="padding: 0 12px">
                  <h2 nz-typography style="padding-bottom: 12px">
                    ตรวจวัดร่างกาย
                  </h2>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="อุณหภูมิ" nzAddOnAfter="°C" nzSize="large">
                      <input type="text" [(ngModel)]="temp" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="ชีพจร" nzAddOnAfter="ครั้ง/นาที" nzSize="large">
                      <input type="text" [(ngModel)]="pulse" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="อัตราการหายใจ" nzAddOnAfter="ครั้ง/นาที" nzSize="large">
                      <input type="text" [(ngModel)]="respiration" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="ความดันโลหิตค่าบน" nzAddOnAfter="mmHg" nzSize="large">
                      <input type="text" [(ngModel)]="hpressure" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="ความดันโลหิตค่าล่าง" nzAddOnAfter="mmHg" nzSize="large">
                      <input type="text" [(ngModel)]="lpressure" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="น้ำหนัก" nzAddOnAfter="กิโลกรัม" nzSize="large">
                      <input type="text" [(ngModel)]="weight" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="ส่วนสูง" nzAddOnAfter="เซนติเมตร" nzSize="large">
                      <input type="text" [(ngModel)]="height" nz-input />
                    </nz-input-group>
                  </div>
                  <div style="padding-bottom: 12px">
                    <nz-input-group nzAddOnBefore="ดัชนีมวลกาย" nzAddOnAfter="กก./ม²" nzSize="large">
                      <input type="text" [(ngModel)]="temp" nz-input [disabled]="true" />
                    </nz-input-group>
                  </div>
                </div>
                <div nz-col nzFlex="4" style="padding: 0 12px">
                  <h2 nz-typography style="padding-bottom: 12px">
                    ป่วยมาแล้ว (ปี-เดือน-วัน)
                  </h2>
                  <nz-input-group [nzSize]="'large'" style="padding-bottom: 18px">
                    <div nz-row [nzGutter]="8">
                      <div nz-col nzSpan="8">
                        <nz-input-group nzAddOnAfter="ปี" nzSize="large">
                          <input type="text" [(ngModel)]="been_sick_year" nz-input />
                        </nz-input-group>
                      </div>
                      <div nz-col nzSpan="8">
                        <nz-input-group nzAddOnAfter="เดือน" nzSize="large">
                          <input type="text" [(ngModel)]="been_sick_month" nz-input />
                        </nz-input-group>
                      </div>
                      <div nz-col nzSpan="8">
                        <nz-input-group nzAddOnAfter="วัน" nzSize="large">
                          <input type="text" [(ngModel)]="been_sick_day" nz-input />
                        </nz-input-group>
                      </div>
                    </div>
                  </nz-input-group>
                  <h2 nz-typography style="padding-bottom: 12px">Pain</h2>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="ระดับความเจ็บปวด" [(ngModel)]="pain_score"
                    [nzSize]="'large'" style="padding-bottom: 20px">
                    <nz-option nzLabel="ไม่ปวด" nzValue="0"></nz-option>
                    <nz-option nzLabel="1 : ยอมรับได้" nzValue="1"></nz-option>
                    <nz-option nzLabel="2 : พอรำคาญ" nzValue="2"></nz-option>
                    <nz-option nzLabel="3 : พอรำคาญ" nzValue="3"></nz-option>
                    <nz-option nzLabel="4 : มีอาการปวดเล็กน้อยพอทนได้" nzValue="4"></nz-option>
                    <nz-option nzLabel="5 : ปวดปานกลาง" nzValue="5"></nz-option>
                    <nz-option nzLabel="6 : ปวดมากพอสมควร" nzValue="6"></nz-option>
                    <nz-option nzLabel="7 : ปวดมากพอสมควร" nzValue="7"></nz-option>
                    <nz-option nzLabel="8 : ปวดจนไม่อยากทำอะไร" nzValue="8"></nz-option>
                    <nz-option nzLabel="9 : ปวดจนไม่อยากทำอะไร" nzValue="9"></nz-option>
                    <nz-option nzLabel="10 : ปวดมากที่สุด" nzValue="10"></nz-option>
                  </nz-select>
                  <h2 nz-typography style="padding-bottom: 14px">
                    Chief Complaint (CC)
                  </h2>
                  <nz-input-group nzCompact></nz-input-group>
                  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                    <input type="text" [(ngModel)]="code" nz-input placeholder="กรอกรหัส Chief Complaint"
                      (keydown.enter)="getNoteSignup()">
                  </nz-input-group>
                  <ng-template #suffixButton>
                    <!-- <button nz-button nzType="default" nzSize="large" [disabled]="!code" nzSearch
                      (click)="getNoteSignup();"><span nz-icon nzType="search"></span></button> -->
                    <!-- <button nz-button nzType="default" nzSize="large" disabled="true" nzSearch>{{noteSign}}</button> -->
                    <button nz-button (click)="getNoteSignup();" nzType="primary" nzSize="large" nzSearch><span nz-icon
                        nzType="arrow-down"></span>เพิ่ม</button>
                  </ng-template>

                  <textarea nz-input placeholder="Chief Complaint (CC)" [(ngModel)]="cc"
                    [nzAutosize]="{ minRows: 7, maxRows: 7 }" style="padding-bottom: 12px"></textarea>
                </div>
              </div>
            </nz-tab>
            <ng-template #titleTemplate2>
              <span nz-icon nzType="security-scan" nzTheme="outline" style="margin-right: 2px"></span>
              คัดกรอง
            </ng-template>
            <nz-tab [nzTitle]="titleTemplate3">
              <div nz-row style="padding-bottom: 12px">
                <div nz-col nzFlex="1" style="padding: 0 12px">
                  <h2 nz-typography style="padding-bottom: 8px">แพทย์</h2>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="แพทย์ผู้ตรวจ" (ngModelChange)="onChange($event)"
                    [(ngModel)]="selectedDoctor" [nzSize]="'large'" style="padding-bottom: 0px">
                    <nz-option *ngFor="let data of itemsDoctors" [nzLabel]="data.username" [nzValue]="data"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-row style="padding-bottom: 12px">
                <div nz-col nzFlex="2" style="padding: 0 12px">
                  <h2 nz-typography style="padding-bottom: 8px">
                    Present Illness (PI)
                  </h2>
                  <textarea nz-input placeholder="" [(ngModel)]="pi_text" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                    style="padding-bottom: 12px"></textarea>
                </div>
                <div nz-col nzFlex="2" style="padding: 0 12px">
                  <h2 nz-typography style="padding-bottom: 8px">ตรวจร่างกาย</h2>
                  <textarea nz-input placeholder="" [(ngModel)]="invest_text" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                    style="padding-bottom: 12px"></textarea>
                </div>
              </div>
              <div nz-row style="padding-bottom: 24px">
                <div nz-col nzFlex="1" style="padding: 0 12px">
                  <h2 nz-typography style="padding-bottom: 8px">
                    คำวินิจฉัย (Diag Text)
                  </h2>
                  <input type="text" nz-input placeholder="Diag Text" [(ngModel)]="diag_text"
                    style="padding-bottom: 12px">
                </div>
              </div>
              <div nz-row style="padding-bottom: 12px">
                <div nz-col nzFlex="1" style="padding: 0 12px">
                  <nz-card [nzTitle]="extraTemplateICD10Title" [nzExtra]="extraTemplateICD10" nzBorderless="true">
                    <nz-card>
                      <nz-table #userTable1 id="excel-table" nzSize="small" [nzHideOnSinglePage]="true"
                        [nzData]="dataIcd10" class="border">
                        <thead>
                          <tr>
                            <th nzWidth="100px">ICD10</th>
                            <th>คำอธิบาย</th>
                            <th nzWidth="200px">Diag Type</th>
                            <!-- <th nzWidth="100px">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of userTable1.data">
                            <td>{{data.diag}}</td>
                            <td>{{data.discription}}</td>
                            <td>{{data.dxtype}}</td>
                            <!-- <td>
                              <span nz-icon (click)="deleteItem(data)" nzType="delete" nzTheme="outline"></span>
                            </td> -->
                          </tr>
                        </tbody>
                      </nz-table>
                    </nz-card>
                    <ng-template #extraTemplateICD10Title>
                      <h2 nz-typography style="padding-bottom: 14px">
                        วินิจฉัยโรค (ICD10)
                      </h2>
                    </ng-template>
                    <ng-template #extraTemplateICD10>
                      <button *ngIf="dataIcd10.length" nz-button nzType="default" [nzSize]="'large'"
                        (click)="showConfirm_save_diag_opd()" class="mr-2">
                        <span nz-icon nzType="save" nzTheme="outline"></span>
                        บันทึก Diag
                      </button>
                      <button nz-button nzType="default" [nzSize]="'large'" (click)="showModal()">
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                        เพิ่ม Diag
                      </button>
                    </ng-template>

                  </nz-card>
                </div>
              </div>
              <!-- <div nz-row style="padding-bottom: 24px">
                <div nz-col nzFlex="1" style="padding: 0 12px">
                  <nz-card [nzTitle]="extraTemplateICD9Title" [nzExtra]="extraTemplateICD9" nzBorderless="true">
                    <nz-card>
                      <nz-table nzTemplateMode>
                        <thead>
                          <tr>
                            <th nzWidth="100px">Code</th>
                            <th>คำอธิบาย</th>
                            <th nzWidth="200px">Type</th>
                            <th>ผู้ทำหัตถการ</th>
                            <th nzWidth="100px">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>
                              <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </nz-card>
                    <ng-template #extraTemplateICD9Title>
                      <h2 nz-typography style="padding-bottom: 14px">
                        หัตถการ (ICD9)
                      </h2>
                    </ng-template>
                    <ng-template #extraTemplateICD9>
                      <button nz-button nzType="default" [nzSize]="'large'">
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                        เพิ่มหัตถการ
                      </button>
                    </ng-template>
                  </nz-card>
                </div>
              </div>
              <div nz-row style="padding-bottom: 24px">
                <div nz-col nzFlex="1" style="padding: 0 12px">
                  <nz-card [nzTitle]="extraTemplatePictureTitle" [nzExtra]="extraTemplatePicture" nzBorderless="true">
                    <nz-card>
                      <div nz-card-grid>
                        <div nz-col nzSpan="12" nzOffset="6">
                          <img nz-image width="200px" height="200px"
                            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                            alt="" />
                        </div>
                      </div>
                      <div nz-card-grid>
                        <div nz-col nzSpan="12" nzOffset="6">
                          <img nz-image width="200px" height="200px"
                            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                            alt="" />
                        </div>
                      </div>
                      <div nz-card-grid>
                        <div nz-col nzSpan="12" nzOffset="6">
                          <img nz-image width="200px" height="200px"
                            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                            alt="" />
                        </div>
                      </div>
                    </nz-card>
                  </nz-card>
                  <ng-template #extraTemplatePictureTitle>
                    <h2 nz-typography style="padding-bottom: 14px">
                      ภาพประกอบการรักษา
                    </h2>
                  </ng-template>
                  <ng-template #extraTemplatePicture>
                    <button nz-button nzType="default" [nzSize]="'large'">
                      <span nz-icon nzType="upload"></span>
                      อัพโหลดภาพ
                    </button>
                  </ng-template>
                </div>
              </div> -->
            </nz-tab>
            <ng-template #titleTemplate3>
              <span nz-icon nzType="solution" nzTheme="outline" style="margin-right: 2px"></span>
              ตรวจรักษา
            </ng-template>
          </nz-tabset>
        </nz-card>
      </div>
    </div>
  </div>
</nz-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="เลือก Diagnosis" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  nzWidth="750px">
  <ng-container *nzModalContent>
    <nz-input-group nzCompact></nz-input-group>
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" [(ngModel)]="icd10" nz-input placeholder="กรอกรหัส ICD10"
        (keydown.enter)="getLookupFilter()" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="default" nzSize="large" (click)="getLookupFilter()" nzSearch><span nz-icon
          nzType="search"></span></button>
    </ng-template>

    <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet" class="border">
      <thead>
        <tr>
          <th nzWidth="100px">ICD10</th>
          <th>คำอธิบาย</th>
          <th nzWidth="100px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable.data">
          <td>{{data.code}}</td>
          <td>{{data.description}}</td>
          <td>
            <!-- <span nz-icon nzType="select" nzTheme="outline" (click)="getIcd10(data);"></span> -->
            <span><label nz-checkbox (change)="getIcd10(data,$event)">เลือก</label></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
