.bg-surapon1{
    background-color: #97E5D7;
}
.bg-surapon2{
    background-color: #D2EBD8;
}
.bg-surapon3{
    background-color: #FCF1DD;
}
.bg-surapon4{
    background-color: #FFD4B8;
}
.bg-surapon5{
    background-color: #FEB7B3;
}

.bg-surapon-1{
  background-color: #E8CFF8;
}
.bg-surapon-2{
  background-color: #FFBBDA;
}
.bg-surapon-3{
  background-color: #C0E4F6;
}
.bg-surapon-4{
  background-color: #D0F4DE;
}
.bg-surapon-5{
  background-color: #FCF6BD;
}

.bg-happypastels2{
    background-color: #D99CA6;
    padding: 20px;
  }

  .bg-happypastels1{
    background-color: #93BDB3;
    padding: 10px;
  }

  .bg-happypastels0{
    background-color: #394965;
    padding: 20px;
  }

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 .border {border-style: groove;}

 .space-align-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-size:larger;
  font-weight:bold;
}

nz-select {
  width: 100%;
}
.tr-surapon-1{
  background-color: #97E5D7;
}