<nz-content>
  <div class="inner-content">
    <!-- <div class="flex flex-wrap justify-between gap-x-6 rounded-md border-1 p-4 shadow-sm bg-surapon-2">
      <div class="flex flex-row ml-4 w-56">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-orange-200 border-orange-300">
            <i class="fa-solid fa-building-user text-orange-600 text-[20px]"></i>
          </button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-orange-700">
            {{ total }}
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้รับบริการในระบบ
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-red-100 border-red-300">
            <i class="fa-solid fa-building-user text-red-600 text-[20px]"></i>
          </button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-red-700">
            {{ waittotal }}
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้รับบริการรอ Telemed
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-blue-100 border-blue-300">
            <i class="fa-solid fa-building-user text-blue-600 text-[20px]"></i>
          </button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-blue-700">
            {{ dctotal || '0'}}
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้รับบริการยกเลิก Telemed
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-green-100 border-green-300">
            <i class="fa-solid fa-building-user text-green-600 text-[20px]"></i>
          </button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-green-700">
            {{ successtotal || '0'}}
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้รับบริการ Telemed สำเร็จ
          </div>
        </div>
      </div>
    </div> -->

    <nz-page-header class="site-page-header bg-white rounded-md mt-2 bg-surapon-8" [nzTitle]="title0">
      <ng-template #title0>
        <span nz-icon nzType="container" nzTheme="outline" class="mr-2"></span>ทะเบียนผู้รับบริการ
      </ng-template>
      <nz-page-header-extra>
        <nz-space>
          <div class="border p-1 mr-2" style="border-color: lightblue">
            <nz-button-group class="mr-2 my-0">
              <button nz-button nzType="primary" [disabled]="!checkButton" (click)="exportexcel()">
                ExportExcel<span nz-icon nzType="export" nzTheme="outline"></span>
              </button>
            </nz-button-group>
            <nz-date-picker nzSize="large" [(ngModel)]="datestart" (ngModelChange)="onChange($event)" class="py-0"
              style="margin: 0 !important;"></nz-date-picker>
          </div>
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="large">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..."
              (keydown.enter)="doSearch()" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group nzSize="large">
              <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()">
                <span nz-icon nzType="search"></span>
              </button>
              <button nzSize="large" nz-button nzType="primary" (click)="refresh()">
                <span nz-icon nzType="reload"></span>
              </button>
            </nz-button-group>
          </ng-template>
          <button *nzSpaceItem nzSize="large" nz-button nzType="primary" (click)="openNewUserRegister()">
            + ลงทะเบียน
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="inner-content -mt-8">
      <nz-tabset nzType="card">
        <nz-tab [nzTitle]="title1">
          <ng-template #title1>
            <p style="font-weight: bold">
              <span nz-icon nzType="contacts" [nzTheme]="'twotone'" [nzTwotoneColor]="'#2fafeb'"
                nzTheme="outline"></span>ผู้รับบริการทั้งหมด
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="consentForm(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;พิมพ์ConsentForm
                      </li>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                      <li *ngIf="
                          !data.register_his &&
                          data.status != 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="showConfirmRegisterHimpro(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ลงทะเบียน Himpro
                      </li>
                      <li *ngIf="
                          data.register_his && data.status == 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="saveDoctor(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;บันทึกข้อมูล Himpro
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="appointAdd(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;นัดครั้งต่อไป
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item
                        (click)="showConfirmUpdateStatus(data,'ให้บริการเรียบร้อย')">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ปิด Visit
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการเปลี่ยนสถานะเป็นติดต่อไม่ได้...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'ติดต่อไม่ได้')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;ติดต่อไม่ได้
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการลบข้อมูล...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'จำหน่าย')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>&nbsp;ยกเลิกบริการ
                      </li>
                      <li *ngIf="data.status != 'จำหน่าย'" nz-menu-item (click)="printFu(data)">
                        <span nz-icon nzType="printer" nzTheme="outline"></span>&nbsp;พิมพ์ใบนัด
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
        <nz-tab [nzDisabled]="disabledTab" [nzTitle]="title2">
          <ng-template #title2>
            <p style="font-weight: bold">
              <span nz-icon nzType="clock-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#ebaf2f'"
                nzTheme="outline"></span>ผู้รับบริการรอ Telemed
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                      <li *ngIf="
                          !data.register_his &&
                          data.status != 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="showConfirmRegisterHimpro(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ลงทะเบียน Himpro
                      </li>
                      <li *ngIf="
                          data.register_his && data.status == 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="saveDoctor(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;บันทึกข้อมูล Himpro
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;นัดครั้งต่อไป
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ปิด Visit
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการเปลี่ยนสถานะเป็นติดต่อไม่ได้...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'ติดต่อไม่ได้')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;ติดต่อไม่ได้
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการลบข้อมูล...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'จำหน่าย')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>&nbsp;ยกเลิกบริการ
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
        <nz-tab [nzDisabled]="disabledTab" [nzTitle]="title3">
          <ng-template #title3>
            <p style="font-weight: bold">
              <span nz-icon nzType="stop" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f45'"
                nzTheme="outline"></span>ผู้รับบริการยกเลิก Telemed
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                      <li *ngIf="
                          !data.register_his &&
                          data.status != 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="showConfirmRegisterHimpro(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ลงทะเบียน Himpro
                      </li>
                      <li *ngIf="
                          data.register_his && data.status == 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="saveDoctor(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;บันทึกข้อมูล Himpro
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;นัดครั้งต่อไป
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ปิด Visit
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการเปลี่ยนสถานะเป็นติดต่อไม่ได้...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'ติดต่อไม่ได้')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;ติดต่อไม่ได้
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการลบข้อมูล...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'จำหน่าย')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>&nbsp;ยกเลิกบริการ
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
        <nz-tab [nzDisabled]="disabledTab" [nzTitle]="title4">
          <ng-template #title4>
            <p style="font-weight: bold">
              <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#52c41a'"></span>ผู้รับบริการ Telemed สำเร็จ
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                      <li *ngIf="
                          !data.register_his &&
                          data.status != 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="showConfirmRegisterHimpro(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ลงทะเบียน Himpro
                      </li>
                      <li *ngIf="
                          data.register_his && data.status == 'ลงทะเบียน Himpro'
                        " nz-menu-item (click)="saveDoctor(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;บันทึกข้อมูล Himpro
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;นัดครั้งต่อไป
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;ปิด Visit
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการเปลี่ยนสถานะเป็นติดต่อไม่ได้...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'ติดต่อไม่ได้')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;ติดต่อไม่ได้
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item nzDanger nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการลบข้อมูล...{{
                          data.title
                        }}{{ data.fname }} {{ data.lname }}" (nzOnConfirm)="update(data, 'จำหน่าย')"
                        (nzOnCancel)="cancel()" nz-button nzShape="round" nzType="primary" class="w-56">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>&nbsp;ยกเลิกบริการ
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</nz-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>

<app-modal-new-user #mdlNewUser (onSubmit)="onSubmitRegister($event)"></app-modal-new-user>
<app-modal-change-password #mdlChangePassword></app-modal-change-password>
<app-modal-view-user #mdlViewUser (onSubmit)="onSubmitRegister($event)"></app-modal-view-user>
<app-modal-appoint-add #mdlAppointAdd (onSubmit)="onSubmitRegister($event)"></app-modal-appoint-add>
<app-modal-profile-user #mdlProfileUser></app-modal-profile-user>
