.h2{
font-size: 24px;
font-weight: bold;
}
.h2-1{
    font-size: 22px;
    font-weight: normal;
    }
.h3{
    font-size: 20px;
    font-weight: normal;
    }
.p2{
    font-size: 18px;
    font-weight:normal;
    }

    .bg-surapon-1{
        background-color: #E8CFF8;
      }
      .bg-surapon-2{
        background-color: #FFBBDA;
      }
      .bg-surapon-3{
        background-color: #C0E4F6;
      }
      .bg-surapon-4{
        background-color: #D0F4DE;
      }
      .bg-surapon-5{
        background-color: #FCF6BD;
      }

      @media print {
        body {
          visibility: hidden;
        }
        #section-to-print {
          visibility: visible;
          position: absolute;
          left: 0;
          top: 100px;
          width: 100%;
          font-size:smaller;
          margin: 0;
          box-shadow: unset;
          border: 0;
        }
      }