<nz-content>
  <div class="inner-content">
    <nz-page-header class="site-page-header bg-white rounded-md bg-surapon-4 mb-8" [nzTitle]="title0">
      <ng-template #title0 class="print:hidden">
        <span nz-icon nzType="mail" nzTheme="outline" class="mr-2 print:hidden"></span>
        <span class="print:hidden">จ่าหน้าซองพัสดุ Telemedicine</span>
      </ng-template>
      <nz-page-header-extra>
        <nz-space>
          <button nz-button nzType="primary" (click)="print();" [nzSize]="'large'" class="print:hidden">
            <span nz-icon nzType="printer" nzTheme="outline"></span>
            พิมพ์จ่าหน้าซอง
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>

    <div id="section-to-print" class="p-5 border m-5 shadow-md">
      <div nz-row class="text-left mb-5">
        <div nz-col nzSpan="1" class="text-center mx-4">
          <img class="m-1" nz-image width="100%" src="./assets/images/surapon-img/logo_h.png" alt="" />
        </div>
        <div nz-col nzSpan="11" class="pt-2">
          <p>โรงพยาบาลตระการพืชผล</p>
          <p>
            207 หมู่ที่ 8 ตำบลขุหลุ อำเภอตระการพืชผล จังหวัดอุบลราชธานี 34130
          </p>
          <p>โทร 045-481012, 045251226, 045251804</p>
        </div>
        <div nz-col nzSpan="12"></div>
      </div>
      <div nz-row class="text-left mt-5">
        <div nz-col nzSpan="12"></div>
        <div nz-col nzSpan="12">
          <h2 class="h2">ผู้รับ</h2>
          <p class="p2">{{items.title}}{{items.fname}} {{items.lname}}</p>
          <p class="p2">{{items.address}}</p>
          <p class="p2">โทร {{items.phone}}</p>
          <p class="p2 py-1">รหัสไปรษณีย์</p>
          <span *ngFor="let i of zipcode" class="py-1 px-5 border h2">{{i}}</span>
        </div>
      </div>
    </div>
  </div>
</nz-content>
