.h2{
    font-size: 20px;
    font-weight: bold;
}
.h2-1{
    font-size: 18px;
    font-weight: normal;
    }
.h3{
    font-size: 16px;
    font-weight: normal;
    }
    .bg-surapon-1{
        background-color: #E8CFF8;
      }
      .bg-surapon-2{
        background-color: #FFBBDA;
      }
      .bg-surapon-3{
        background-color: #C0E4F6;
      }
      .bg-surapon-4{
        background-color: #D0F4DE;
      }
      .bg-surapon-5{
        background-color: #FCF6BD;
      }
.b{
    font-weight: bold;
}

@media print {
  body {
    visibility: hidden;
  }
  *{
    font-size: 13px;
  }
  * {
    font-family: 'Sarabun';
  }
  .inner{
    font-size: 16px;
  }
  #section-to-print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size:smaller;
    margin: 0;
    box-shadow: unset;
    border: 0;
  }
  #section-to-print .h2{
    font-size: 18px;
    font-weight: bold;
  }
}