<nz-content>
  <div class="inner-content">
    <nz-page-header class="site-page-header bg-white rounded-md bg-surapon-4 mb-8" [nzTitle]="title0">
      <ng-template #title0 class="print:hidden">
        <span nz-icon nzType="mail" nzTheme="outline" class="mr-2 print:hidden"></span>
        <span class="print:hidden">ใบนัดผู้ป่วย Telemedicine</span>
      </ng-template>
      <nz-page-header-extra>
        <nz-space>
          <button nz-button nzType="primary" (click)="print();" [nzSize]="'large'" class="print:hidden">
            <span nz-icon nzType="printer" nzTheme="outline"></span>
            พิมพ์ใบนัดผู้ป่วย
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>

    <div id="section-to-print" class="p-5 border m-5 shadow-md">
      <div nz-row class="text-left mb-5">
        <div nz-col nzSpan="4">
          <img style="max-height: 50px; float: left"
            src="http://bwipjs-api.metafloor.com/?bcid=code128&text={{items.hn}}&includetext" />
        </div>
        <div nz-col nzSpan="16" class="h2 text-center pt-4">
          ใบนัดผู้ป่วย โรงพยาบาลตระการพืชผล
        </div>
        <div nz-col nzSpan="4" class="text-right pt-0 mt-0">
          <img nz-image style="max-height: 60px; float: right" src="./assets/images/surapon-img/logo_h.png" alt="" />
        </div>
      </div>
      <div nz-row class="text-left py-2">
        <div nz-col nzSpan="12">ชื่อผู้ป่วย {{items.title}}{{items.fname}} {{items.lname}}</div>
        <div nz-col nzSpan="12">อายุ {{items.age}} ปี</div>
      </div>
      <div nz-row class="text-left py-2">
        <div nz-col nzSpan="12">HN {{items.hn}}</div>
        <div nz-col nzSpan="12" *ngFor="let i of itemFu">คลินิก {{i.from_clinic_name}}</div>
      </div>
      <div nz-row class="text-left py-2">
        <div nz-col nzSpan="24">นัดมาวันที่ {{items.date_serve | thaidate:'medium'}}</div>
      </div>
      <div nz-row class="text-left py-2">
        <div nz-col nzSpan="24" *ngFor="let i of itemFu">นัดมาที่ห้อง {{i.to_room_name}}</div>
      </div>
      <div nz-row class="text-left border p-5 pb-20">
        <div nz-col nzSpan="24">
          <p class="inner">นัดเพื่อ - Telemedicine</p>
          <p class="inner">การเตรียมก่อนตรวจ -</p>
        </div>
      </div>
      <div nz-row class="text-left py-1 pt-2 b">
        <div nz-col nzSpan="12">เอกสารที่ต้องเตรยมมาโรงพยาบาล</div>
        <div nz-col nzSpan="12" *ngFor="let i of itemFu">แพทย์ผู้นัด {{i.doctor}}</div>
      </div>
      <div nz-row class="text-left py-1 b">
        <div nz-col nzSpan="12">1. บัตรประจำตัวประชาชน</div>
        <div nz-col nzSpan="12">วันออกใบนัด {{items.create_date | thaidate:'medium'}}</div>
      </div>
      <div nz-row class="text-left py-1 b">
        <div nz-col nzSpan="12">2. ใบส่งตัวจาก รพ.ชุมชน (กรณีหมดอายุ)</div>
        <div nz-col nzSpan="12">มีข้อมูลสงสัย โทร 045-481-012</div>
      </div>
      <div nz-row class="text-left py-1 b">
        <div nz-col nzSpan="12">3. เอกสารอื่น ๆ ที่เกี่ยวกับการรักษา</div>
      </div>
      <!-- <div nz-row class="text-left py-2">
        <div nz-col nzSpan="24">
          <hr class="py-2" />
          <nz-table nzTemplateMode nzSize="small">
            <thead>
              <tr>
                <th class="b">รหัส</th>
                <th class="b">ชื่อ</th>
                <th class="b">ผู้บันทึก</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>200</td>
                <td>(LAB):LIPID</td>
                <td>พญ.มัลลิกา มาดี</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div> -->
    </div>
  </div>
</nz-content>
