<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider class="surapon-bg-main" nzWidth="200px" nzTheme="light" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
      <ul nz-menu nzMode="inline" class="sider-menu" style="background-color: transparent!important;">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="Smart Telemed">
          <ul>
            <li nz-menu-item routerLink="/register" routerLinkActive="ant-menu-item-selected">หน้าหลัก</li>
            <!-- <li nz-menu-item routerLink="/users/report" routerLinkActive="ant-menu-item-selected">ระบบรายงาน</li> -->
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <router-outlet></router-outlet>
      <!-- Footer -->
      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
