.bg-surapon-1{
    background-color: #E8CFF8;
  }
  .bg-surapon-2{
    background-color: #FFBBDA;
  }
  .bg-surapon-3{
    background-color: #C0E4F6;
  }
  .bg-surapon-4{
    background-color: #D0F4DE;
  }
  .bg-surapon-5{
    background-color: #FCF6BD;
  }
  
  .surapon-bg-main{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(192,228,246,1) 100%, rgba(255,255,255,1) 255%);
  }