<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false" nzTitle="ลงทะเบียนใหม่"
  (nzOnCancel)="handleCancel()" (nzOnOk)="showConfirm()" [nzOkLoading]="isOkLoading" nzWidth="200">
  <ng-container *nzModalContent>
    <div class="inner-content">
      <!--<div nz-row class="shadow border">
        <div nz-col nzMd="24" nz-space nzAlign="center" class="center bg-surapon-2" style="padding-top: 30px;">
          <h2 class="surapon-h1" nz-typography style="text-align: center; padding-top: 0; padding-bottom: 24px; color:#0b5345">
            <span nz-icon nzType="form" nzTheme="outline" style="margin-right: 4px;"></span>ลงทะเบียน ระบบการแพทย์ทางไกล Smart Telemedicine
          </h2>
        </div>
      </div>-->

      <div nz-row nzJustify="space-around" nzAlign="middle" class="shadow bg-surapon-3" style="padding: 12px;">
        <div nz-col nzMd="6" nz-space nzAlign="center" class="center">
          <h4 nz-typography class="surapon-h1" style="text-align: center; color: #0b5345; padding-bottom: 10px">
            Trakan Smart Telemedicine
          </h4>
          <h3 nz-typography class="surapon-h3" style="text-align: center; color: #0b5345; padding-bottom: 20px">
            โรงพยาบาลตระการพืชผล
          </h3>
          <img nz-image style="
              min-width: 100%;
              padding: 0 50px;
              margin-bottom: 10px;
              padding-bottom: 20px;
            " src="./assets/images/surapon-img/logo_h.png" alt="" />
        </div>
        <div nz-col nzMd="18" class="bg-surapon-4 shadow rounded-md" style="padding: 24px;">
          <form nz-form>
            <div nz-row [nzGutter]="24">
              <div nz-col nzMd="12">
                <nz-input-group nzAddOnBefore="ค้นหาด้วย HN" [nzSuffix]="suffixIconSearch">
                  <input type="text" placeholder="ระบุ HN" nz-input id="hn" name="hn" [(ngModel)]="hn"
                    style="width: 100%" (keydown.enter)="getPatientHn()">
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <span nz-icon nzType="search" (click)="getPatientHn()"></span>
                </ng-template>
              </div>
              <!-- <div nz-col nzMd="12">
                <nz-input-group nzAddOnBefore="ค้นหาด้วยเลขบัตร" [nzSuffix]="suffixIconSearch2">
                  <input type="text" placeholder="ระบุเลขบัตรประจำตัวประชาชน" nz-input id="cid" name="cid"
                    [(ngModel)]="cid" style="width: 100%" (keydown.enter)="getPatientCid()"/>
                </nz-input-group>
                <ng-template #suffixIconSearch2>
                  <span nz-icon nzType="search" (click)="getPatientCid()"></span>
                </ng-template>
              </div> -->
            </div>
            <nz-divider></nz-divider>
            <nz-input-group [nzSize]="'large'" nzAddOnBefore="เลขบัตรประชาชน" style="margin-bottom: 10px">
              <input nz-input id="cid" name="cid" [(ngModel)]="cid" placeholder="" type="text">
            </nz-input-group>

            <nz-input-group [nzSize]="'large'" style="margin-bottom: 10px">
              <div nz-row [nzGutter]="12">
                <div nz-col nzSpan="5">
                  <nz-input-group nzAddOnBefore="คำนำหน้า">
                    <input type="text" nz-input id="title" name="title" [(ngModel)]="title" style="width: 100%" />
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="8">
                  <nz-input-group nzAddOnBefore="ชื่อ">
                    <input type="text" nz-input id="fname" name="fname" [(ngModel)]="fname" style="width: 100%" />
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="11">
                  <nz-input-group nzAddOnBefore="นามสกุล">
                    <input type="text" nz-input id="lname" name="lname" [(ngModel)]="lname" style="width: 100%" />
                  </nz-input-group>
                </div>
              </div>
            </nz-input-group>

            <nz-input-group [nzSize]="'large'" nzAddOnBefore="หมายเลขโทรศัพท์" style="margin-bottom: 10px">
              <input nz-input id="phone" name="phone" [(ngModel)]="phone" placeholder="" type="text" />
            </nz-input-group>

            <div nz-row [nzGutter]="24">
              <div nz-col nzSpan="8">
                <nz-form-label>
                  <h5 nz-typography>เลือกวันที่รับบริการ</h5>
                </nz-form-label>
                <nz-date-picker nz-input id="date_serve" name="date_serve" [(ngModel)]="date_serve"></nz-date-picker>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-label>
                  <h5 nz-typography>เลือกช่วงเวลารับบริการ</h5>
                </nz-form-label>
                <!-- <nz-select (ngModelChange)="checkRegisterDuplicate($event)" nzShowSearch nzAllowClear nz-input -->
                <nz-select nzShowSearch nzAllowClear nz-input id="selectedTimeServe" name="selectedTimeServe"
                  nzPlaceHolder="Select a Time Serve" [(ngModel)]="selectedTimeServe">
                  <div *ngFor="let i of itemTimeServe.data">
                    <nz-option nzLabel="{{i.service_name}}" nzValue="{{i.id}}"></nz-option>
                  </div>
                </nz-select>

              </div>
              <div nz-col nzSpan="8">
                <nz-form-label>
                  <h5 nz-typography>เลือกหน่วยบริการ</h5>
                </nz-form-label>
                <nz-select nzShowSearch nzAllowClear nz-input id="pcucode" name="pcucode" nzPlaceHolder="Select a PCU"
                  [(ngModel)]="pcucode">
                  <div *ngFor="let i of itemPcucode">
                    <nz-option nzLabel="{{i.pcuname}}" nzValue="{{i.pcucode}}"></nz-option>
                  </div>
                </nz-select>

              </div>
            </div>

            <div nz-col nzSpan="24">
              <nz-form-label>
                <h5 nz-typography>เลือกวิธีรับยา</h5>
              </nz-form-label>
              <nz-radio-group id="drug_choice" name="drug_choice" [(ngModel)]="drug_choice">
                <label nz-radio nzValue="walkin">มารับยาด้วยตัวเอง</label>
                <label nz-radio nzValue="delivery">รับยาทางไปรษณีย์</label>
              </nz-radio-group>
            </div>

            <nz-collapse>
              <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                [nzActive]="drug_choice=='delivery'" [nzDisabled]="drug_choice=='walkin'">
                <p style="margin: 0">
                  <nz-input-group [nzSize]="'large'">
                    <textarea nz-input id="address" name="address" [(ngModel)]="address" placeholder="ที่อยู่จัดส่ง"
                      [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
                  </nz-input-group>
                  <nz-input-group nzAddOnBefore="ไปรษณีย์">
                    <input type="text" nz-input id="zipcode" name="zipcode" [(ngModel)]="zipcode" style="width: 100%" />
                  </nz-input-group>
                </p>
              </nz-collapse-panel>
            </nz-collapse>

            <nz-divider nzType="horizontal"></nz-divider>

            <!-- <button nz-button nzType="primary" nzSize="large">
              <span nz-icon nzType="save" (click)="handleOk()"></span>
              ลงทะเบียน
            </button>
            <button nz-button nzType="primary" style="background-color: indianred" nzSize="large">
              <span nz-icon nzType="redo"></span>
              ล้างข้อมูล
            </button> -->
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
