<nz-layout>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzSelected>ลงทะเบียน</li>
      <li nz-menu-item>ประวัติ</li>
    </ul>
  </nz-header>
  <nz-divider nzType="vertical"></nz-divider>
  <nz-content style="padding: 0; margin: 0">
    <div class="inner-content">
      <div nz-row class="shadow border">
        <div nz-col nzMd="24" nz-space nzAlign="center" class="center bg-happypastels0" style="padding-top: 30px">
          <h2 nz-typography style="text-align: center; color: cornsilk">
            Trakan Smart Telemedicine
          </h2>
        </div>
      </div>

      <div nz-row nzJustify="space-around" nzAlign="middle" class="shadow bg-happypastels1">
        <div nz-col nzMd="6" nz-space nzAlign="center" class="center">
          <h3 nz-typography style="text-align: center; color: #0b5345; padding-bottom: 20px">
            โรงพยาบาลตระการพืชผล
          </h3>
          <img nz-image style="
              min-width: 100%;
              padding: 0 50px;
              margin-bottom: 10px;
              padding-bottom: 20px;
            " src="./assets/images/surapon-img/logo_h.png" alt="" />
        </div>
        <div nz-col nzMd="18" class="bg-happypastels2 shadow">
          <h3 nz-typography>
            <span nz-icon nzType="form" nzTheme="outline"></span>
            ลงทะเบียนเข้ารับบริการ
          </h3>
          <nz-divider nzType="horizontal"></nz-divider>
          <form nz-form>
            <div nz-row [nzGutter]="24">
              <div nz-col nzSpan="12">
                <nz-form-label>
                  <h5 nz-typography>เลือกวันที่รับบริการ</h5>
                </nz-form-label>
                <nz-date-picker [nzSize]="'large'" formControlName="datePicker"></nz-date-picker>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-label>
                  <h5 nz-typography>เลือกช่วงเวลารับบริการ</h5>
                </nz-form-label>
                <nz-select [nzSize]="'large'" nzPlaceHolder="เลือกช่วงเวลารับบริการ">
                  <nz-option nzselected nzValue="10:00-11:00" nzLabel="10:00-11:00"></nz-option>
                  <nz-option nzValue="10:00-11:00" nzLabel="10:00-11:00"></nz-option>
                </nz-select>
              </div>
            </div>

            <nz-input-group [nzSize]="'large'" nzAddOnBefore="เลขบัตรประชาชน" style="margin-bottom: 10px">
              <input nz-input placeholder="" type="text" />
            </nz-input-group>

            <nz-input-group [nzSize]="'large'" style="margin-bottom: 10px">
              <div nz-row [nzGutter]="12">
                <div nz-col nzSpan="10">
                  <nz-input-group nzAddOnBefore="ชื่อ">
                    <input type="text" nz-input style="width: 100%" />
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="14">
                  <nz-input-group nzAddOnBefore="นามสกุล">
                    <input type="text" nz-input style="width: 100%" />
                  </nz-input-group>
                </div>
              </div>
            </nz-input-group>

            <nz-input-group [nzSize]="'large'" nzAddOnBefore="หมายเลขโทรศัพท์" style="margin-bottom: 10px">
              <input nz-input placeholder="" type="text" />
            </nz-input-group>

            <div nz-col nzSpan="24">
              <nz-form-label>
                <h5 nz-typography>เลือกวิธีรับยา</h5>
              </nz-form-label>
              <nz-radio-group>
                <label nz-radio nzValue="walkin">มารับยาด้วยตัวเอง</label>
                <label nz-radio nzValue="delivery">รับยาทางไปรษณีย์</label>
              </nz-radio-group>
            </div>

            <nz-collapse>
              <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active"
                [nzDisabled]="panel.disabled">
                <p style="margin: 0">
                  <nz-input-group [nzSize]="'large'">
                    <textarea nz-input placeholder="ที่อยู่จัดส่ง" [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
                  </nz-input-group>
                </p>
              </nz-collapse-panel>
            </nz-collapse>

            <nz-divider nzType="horizontal"></nz-divider>

            <button nz-button nzType="primary" nzSize="large">
              <span nz-icon nzType="save"></span>
              ลงทะเบียน
            </button>
            <button nz-button nzType="primary" style="background-color: indianred" nzSize="large">
              <span nz-icon nzType="redo"></span>
              ล้างข้อมูล
            </button>
          </form>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer>Trakan Hospital ©2023 Allrights reserved</nz-footer>
</nz-layout>
