.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    padding: 0 50px;
  }

  nz-footer {
    text-align: center;
    background-color: transparent!important;
  }

  .inner-content {
    background-color: transparent!important;
    padding: 24px;
    min-height: 280px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .bg-happypastels2{
    background-color: #D99CA6;
    padding: 20px;
  }

  .bg-happypastels1{
    background-color: #93BDB3;
    padding: 10px;
  }

  .bg-happypastels0{
    background-color: #394965;
    padding: 20px;
  }

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 .border {border-style: groove;}

 nz-select,nz-date-picker {
  margin: 0 8px 10px 0;
  width: 100%;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}
.bg-surapon-1{
  background-color: #E8CFF8;
}
.bg-surapon-2{
  background-color: #FFBBDA;
}
.bg-surapon-3{
  background-color: #C0E4F6;
}
.bg-surapon-4{
  background-color: #D0F4DE;
}
.bg-surapon-5{
  background-color: #FCF6BD;
}