<nz-content>
  <div class="inner-content" class="" style="background-color: #fff;">

    <nz-page-header class="site-page-header bg-white rounded-0 bg-surapon-4 mb-4" [nzTitle]="title0">
      <ng-template #title0 class="print:hidden">
        <span nz-icon nzType="mail" nzTheme="outline" class="mr-2 print:hidden"></span>
        <span class="print:hidden">หนังสือแสดงความยินยอมในการรักษาบริการสาธารณสุขระบบทางไกล (Telemedicine)</span>
      </ng-template>
      <nz-page-header-extra>
        <nz-space>
          <button (click)="print();" nz-button nzType="primary" [nzSize]="'large'" class="print:hidden mr-2">
            <span nz-icon nzType="printer" nzTheme="outline"></span>
            พิมพ์ใบนัดผู้ป่วย
          </button>
          <button (click)="back();" nz-button nzType="primary" [nzSize]="'large'" class="print:hidden">
            <span nz-icon nzType="printer" nzTheme="outline"></span>
            กลับ
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>

    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" class="" nzBorderless="true">

          <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
              <nz-card class=" rounded-md">

                <div>
                  <h1 style="font-weight:600;text-align: center; font-size: 16px;" class="pb-4">
                    หนังสือแสดงความยินยอมในการรักษาบริการสาธารณสุขระบบทางไกล (Telemedicine)</h1>
                </div>
                <div>
                  <p style="text-align: right;" class="pb-4">
                    วันที่ {{items.date_serve | thaidate:"medium"}}
                  </p>
                  <p>
                    ชื่อ-สกุล ผู้ป่วย. : {{items.title}}{{items.fname}} {{items.lname}}
                    อายุ : {{items.age}} ปี &nbsp;&nbsp;&nbsp; HN : {{items.hn}}
                    AN.........................
                  </p>
                  <p>
                    ข้าพเจ้า นาย/นาง/นางสาว.................................................... มีฐานะเป็น <input
                      type="checkbox" class="largerCheckbox pl-1" value=""> ผู้ป่วย <input type="checkbox"
                      class="largerCheckbox pl-1" value=""> ผู้แทน/ญาติ (ระบุ)....................................
                  </p>
                  <p>
                    1. โรคหรือการวินิจฉัยโรคเบื้องต้น........................................ ผู้ป่วย/ญาติ
                    สามารถสอบถามเพิ่มเติมกับแพทย์เจ้าของใช้ได้
                  </p>
                  <p>
                    2. เหตุผลหรือความจำเป็นในการเข้ารับการรักษาพยาบาล บริการสาธารณสุขระบบทางไกล
                    (Telemedicine)
                  </p>
                  <div class="pl-4">
                    <table>
                      <tr>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> โรคที่ผู้ป่วยเป็น
                            มีความจำเป็นต้องได้รับการรักษาที่ถูกต้องและถูกวิธี
                          </p>
                        </td>
                        <td class="px-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> เพื่อให้ยารักษาต่อเนื่อง
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value="">
                            โรคที่ผู้ป่วยต้องได้รับการรักษาพยาบาล ดูแลใกล้ชิดจากทีมสุขภาพ
                          </p>
                        </td>
                        <td class="px-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value="">
                            เพื่อเข้าถึงการบริการสะดวก/มีคุณภาพ
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> เหตุผลหรือความจำเป็นอื่น
                            ๆ............................................................
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <p>3. วิธีการรักษา</p>
                  <div class="pl-4">
                    <table>
                      <tr>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> ผู้ป่วยรายเก่าที่มีอาการคงที่
                            และควบคุมโรคได้ดี
                          </p>
                        </td>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> พบแพทย์/พยาบาล ออนไลน์
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="pl-4">
                    <table>
                      <tr>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> ให้ยารับประทาน
                          </p>
                        </td>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> มารับยาเอง
                          </p>
                        </td>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> รับยาทางไปรษณีย์
                          </p>
                        </td>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> รับยาร้านยา
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <p>4. ข้อดี เมื่อเข้ารับการรักษาโรคบริการทางสาธารณสุขระบบทางไกล (Telemedicine)</p>
                  <div class="pl-4">
                    <table>
                      <tr>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> รับคำปรึกษา ตรวจรักษารวดเร็ว
                          </p>
                        </td>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> ลดแออัด
                          </p>
                        </td>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> ลดระยะรอคอย
                          </p>
                        </td>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> ลดค่าใช้จ่ายมา รพ.
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <p>5. ข้อเสียเมื่อไม่ได้มารับการรักษาตามนัดในโรงพยาบาล</p>
                  <div class="pl-4">
                    <table>
                      <tr>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> อาจทำให้โรค/อาการรุนแรงขึ้นได้
                          </p>
                        </td>
                        <td class="px-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> อาจได้รับยาล่าช้า (กรณีส่ง ปณ.)
                          </p>
                        </td>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> ข้อเสียอื่น ๆ
                            ระบุ..............................
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <p>6. อาการผิดปกติหรือภาวะแทรกซ้อนที่อาจเกิดขึ้นได้ในการรับบริการสาธารณสุขระบบทางไกล
                    (Telemedicine)</p>
                  <div class="pl-4">
                    <table>
                      <tr>
                        <td class="pr-4">
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value="">
                            อาจเกิดอากาารแพ้ยาที่ใช้ในการรักษาได้
                          </p>
                        </td>
                        <td>
                          <p>
                            <input type="checkbox" class="largerCheckbox pl-1" value=""> อื่น ๆ
                            ระบุ........................................
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้าได้อ่านรายละเอียดจากเอกสารข้อมูล
                    และรับฟังคำอธิบายจากผู้ให้การรักษา รวมถึงความเสี่ยง ผลข้างเคียง
                    และ/หรือผลที่อาจจะเกิดขึ้นภายหลัง จนเป็นที่กระจ่างชัดแล้ว
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้ายินยอมรับการรักษาบริการสาธารณสุขระบบทางไกล (Telemedicine)
                    โดยจะปฏิบัติตามคำแนะนำทุกประการ เช่น วัดระดับน้ำตาลในเลือด/ค่าความดันในเลือด
                    ตามกลุ่มโรคที่กำหนด แล้วแจ้งผลเมื่อข้าพเจ้าได้รับการดูแลตามวันที่นัดหมาย
                    หากข้าพเจ้าแสดงอาการที่มีข้อบ่งชี้ต้องมาตรวจรักษาตัวในโรงพยาบาล
                    ทางโรงพยาบาลจะรับข้าพเจ้าเป็นผ๔ู้ป่วยใน โดยข้าพเจ้ายินยอมให้แพทย์
                    บุคลากรทางการแพทย์ของโรงพยาบาล และผู้ที่ได้รับมอบหมาย สามารถกระทำการดูแล รักษา
                    ตรวจวินิจฉัยเพิ่มเติม ทั้งนี้ตามดุลยพินิจของบุคลากรทางการแพทย์
                    ข้าพเจ้าเข้าใจถึงความจำเป็นอันเป็นแหตุให้ต้องรับการตรวจวินิจฉัยรักษา
                    ในกรณีที่มีการเปลี่ยนแปลงของการตรวจวินิจฉัย หรือแผนการดูแลรักษา
                    ข้าพเจ้ามีสิทธิ์ที่จะได้รับคำอธิบายเพิ่มเติม
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้ายินยอมให้ข้อมูลส่วนตัวด้านภาวะสุขภาพที่อาจมีผลต่อการดูแลรักษาแก่
                    แพทย์
                    และบุคลากรทางการแพทย์ที่เกี่ยงข้อง เช่น ภาวะตั้งครรภ์ โรคประจำตัว เป็นต้น
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้าขอแสดงความยินยอมในการดูแลรักษา โดยการรับบริการสาธารณสุขระบบทางไกล
                    (Telemedicine) โดยความสมัครใจ ณ ที่นี้
                    ทั้งนี้หากมีการนำข้อมูลของข้าพเจ้าไปใช้ประโยชน์เพื่อการศึกษาวิจัยในอนาคต <input type="checkbox"
                      class="largerCheckbox pl-1" value=""> ยินยอม <input type="checkbox" class="largerCheckbox pl-1"
                      value=""> ไม่ยินยอม
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้าอยู่บ้านเลขที่ {{items.address}}
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;ชื่อผู้ใกล้ชิดที่ติดต่อได้................................................................................
                    เบอร์โทร............................................................
                  </p>
                  <div>
                    <table>
                      <tr>
                        <td class="pr-4">
                          <p style="text-align: center;">
                            ลงชื่อ...........................................................................
                          </p>
                          <p style="text-align: center;">
                            (............................................................)
                          </p>
                          <p style="text-align: center;">
                            ผู้ป่วย/ผู้แทนโดยชอบธรรมของผู้ป่วย
                          </p>
                        </td>
                        <td class="pl-4">
                          <p style="text-align: left;">
                            ลงชื่อ...........................................................................
                          </p>
                          <p style="text-align: left;" class="pl-8">
                            (............................................................)
                          </p>
                          <p style="text-align: left;" class="pl-16">
                            แพทย์ผู้ให้ข้อมูลการรักษา
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-4">
                          <p style="text-align: center;">
                            ลงชื่อพยานฝ่ายผู้ป่วย................................
                            เกี่ยวข้องเป็น.............
                          </p>
                          <p style="text-align: center;">
                            (............................................................)
                          </p>
                          <p style="text-align: center;">
                            **กรุณีผู้ป่วยมาคนเดียว ระบุว่าผู้ป่วยมาคนเดียว
                          </p>
                        </td>
                        <td class="pl-4">
                          <p style="text-align: left;">
                            ลงชื่อ............................................ พยานฝ่ายเจ้าหน้าที่
                          </p>
                          <p style="text-align: left;" class="pl-8">
                            (............................................................)
                          </p>
                          <p style="text-align: left;" class="pl-6">
                            ตำแหน่ง พยาบาลวิชาชีพ..............................
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="py-4">
                    <hr>
                  </div>
                  <div>
                    <table>
                      <tr>
                        <td>
                          **ช่องทางรับยา
                        </td>
                        <td class="pl-4">
                          <input type="checkbox" class="largerCheckbox pl-1" value=""> รับยาเอง
                        </td>
                        <td class="pl-4">
                          <input type="checkbox" class="largerCheckbox pl-1" value=""> ส่งยาทางไปรษณีย์
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">
                          นัดบริการ Telemedicine
                        </td>
                        <td colspan="2" style="text-align: center;" class="pl-4">
                          วันที่..................................... เวลา........................... น.
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left;">
                          นัด f/u + พบแพทย์
                        </td>
                        <td colspan="2" style="text-align: left;" class="pl-4">
                          วันที่..................................... เวลา........................... น.
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <div nz-row>
                      <div class="p-2 m-1 shadow"
                        style="position:absolute; right: 10px; bottom: 10px;background-color: white;text-align: center;"
                        nz-col nzSpan="7" nzOffset="7">
                        <div nz-row class="center">
                          <div nz-col nzSpan="12"><img width="60px" style=""
                              src="../../../../../assets/images/surapon-img/qrcodeหมอพร้อม.png"></div>
                          <div nz-col nzSpan="12">รับการแจ้งเตือนไลน์หมอพร้อม</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </nz-card>
            </div>
          </div>

        </nz-card>
      </div>
    </div>
  </div>
</nz-content>
