*{
    font-size: 16px;
}
.shadow{
    box-shadow: 0 1px 2px 0 rgba(116, 116, 116, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.center {
    display: flex;
    align-items: center;
  }
  input.largerCheckbox {
    transform: scale(1.2);
  }

  @media print {
    * {
        font-family: 'Sarabun';
        font-size: 13.5px;
        margin: 0;
      }
    nz-card{
        border:none;
    }
    nz-page-header{
      display: none;
    }
  }
  bg-surapon-1{
    background-color: #E8CFF8;
  }
  .bg-surapon-2{
    background-color: #FFBBDA;
  }
  .bg-surapon-3{
    background-color: #C0E4F6;
  }
  .bg-surapon-4{
    background-color: #D0F4DE;
  }
  .bg-surapon-5{
    background-color: #FCF6BD;
  }
