<nz-content>
  <div class="inner-content">
    <nz-page-header class="site-page-header bg-white rounded-md bg-surapon-4 mb-8" [nzTitle]="title0">
      <ng-template #title0>
        <span nz-icon nzType="container" nzTheme="outline" class="mr-2"></span>ทะเบียนผู้รับบริการ
      </ng-template>
      <nz-page-header-extra>
        <nz-space>
          <!-- <nz-select (ngModelChange)="onSelectWard($event)" style="width: 220px;" nzPlaceHolder="เลือก Ward"
            *nzSpaceItem [(ngModel)]="dataWard">
            <nz-option *ngFor="let ward of wards" [nzValue]="ward" [nzLabel]="ward.name"></nz-option>
          </nz-select> -->
          <div class="border p-1 mr-2" style="border-color: lightblue">
            <nz-button-group class="mr-2 my-0">
              <button nz-button nzType="primary" [disabled]="!checkButton" (click)="exportexcel()">
                ExportExcel<span nz-icon nzType="export" nzTheme="outline"></span>
              </button>
            </nz-button-group>
            <nz-date-picker nzSize="large" [(ngModel)]="datestart" (ngModelChange)="onChange($event)" class="py-0"
              style="margin: 0 !important;"></nz-date-picker>
          </div>
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="large">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group nzSize="large">
              <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()">
                <span nz-icon nzType="search"></span>
              </button>
              <button nzSize="large" nz-button nzType="primary" (click)="refresh()">
                <span nz-icon nzType="reload"></span>
              </button>
            </nz-button-group>
          </ng-template>
          <!-- <button *nzSpaceItem nzSize="large" nz-button nzType="primary" (click)="openNewUserRegister()">
            + ลงทะเบียน
          </button> -->
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="inner-content -mt-8">
      <nz-tabset nzType="card">
        <nz-tab [nzTitle]="title1">
          <ng-template #title1>
            <p style="font-weight: bold">
              <span nz-icon nzType="contacts" [nzTheme]="'twotone'" [nzTwotoneColor]="'#2fafeb'"
                nzTheme="outline"></span>ผู้รับบริการทั้งหมด
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li nz-menu-item (click)="print(data)">
                        <span nz-icon nzType="printer" nzTheme="outline"></span>&nbsp;พิมพ์
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
        <nz-tab [nzDisabled]="disabledTab" [nzTitle]="title2">
          <ng-template #title2>
            <p style="font-weight: bold">
              <span nz-icon nzType="clock-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#ebaf2f'"
                nzTheme="outline"></span>ผู้รับบริการรอ Telemed
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
        <nz-tab [nzDisabled]="disabledTab" [nzTitle]="title3">
          <ng-template #title3>
            <p style="font-weight: bold">
              <span nz-icon nzType="stop" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f45'"
                nzTheme="outline"></span>ผู้รับบริการยกเลิก Telemed
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
        <nz-tab [nzDisabled]="disabledTab" [nzTitle]="title4">
          <ng-template #title4>
            <p style="font-weight: bold">
              <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#52c41a'"></span>ผู้รับบริการ Telemed สำเร็จ
            </p>
          </ng-template>
          <nz-table #userTable id="excel-table" nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet"
            class="border">
            <thead>
              <tr>
                <th>HN</th>
                <th>CID</th>
                <th>ชื่อ - สกุล</th>
                <th>วันที่นัด</th>
                <th>เวลานัด</th>
                <th>เบอร์โทร</th>
                <th>การรับยา</th>
                <!-- <th>ที่อยู่ปัจจุบัน</th> -->
                <th>สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data">
                <td>{{ data.hn }}</td>
                <td>{{ data.cid }}</td>
                <td>{{ data.title }}{{ data.fname }} {{ data.lname }}</td>
                <td>{{ data.date_serve | thaidate : "medium" }}</td>
                <td>{{ data.service_name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                  <span *ngIf="data.drug_choice == 'walkin'"> รับยาเอง </span>
                  <span *ngIf="data.drug_choice == 'delivery'">
                    รับยาทางไปรษณีย์
                  </span>
                </td>
                <!-- <td>{{data.address || '-'}}</td> -->
                <td>{{ data.status }}</td>
                <td style="text-align: center">
                  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                    <span nz-icon nzType="menu"></span>
                    จัดการ
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="viewUser(data)">
                        <span nz-icon nzType="fund-view" nzTheme="outline"></span>&nbsp;ดูข้อมูล
                      </li>
                      <li *ngIf="data.status != 'ให้บริการเรียบร้อย'" nz-menu-item (click)="openEdit(data)">
                        <span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
            (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

          <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</nz-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>

<app-modal-new-user #mdlNewUser (onSubmit)="onSubmitRegister($event)"></app-modal-new-user>
<app-modal-change-password #mdlChangePassword></app-modal-change-password>
<app-modal-view-user #mdlViewUser (onSubmit)="onSubmitRegister($event)"></app-modal-view-user>
<app-modal-profile-user #mdlProfileUser></app-modal-profile-user>
