nz-breadcrumb {
  margin: 16px 0;
}

button {
  /* margin-left: 8px; */
  /* margin-right: 8px; */
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

.bg-surapon-1{
  background-color: #E8CFF8;
}
.bg-surapon-2{
  background-color: #FFBBDA;
}
.bg-surapon-3{
  background-color: #C0E4F6;
}
.bg-surapon-4{
  background-color: #D0F4DE;
}
.bg-surapon-5{
  background-color: #FCF6BD;
}
.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-sm{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
