<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มผู้ใช้งานใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="username">ชื่อผู้ใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อผู้ใช้งาน">
          <input nz-input formControlName="username" name="username" type="username" id="username">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="position_id">ตำแหน่ง</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ ตำแหน่ง">
          <nz-select nzShowSearch nzAllowClear formControlName="position_id" nz-input id="position_id"
            name="position_id" nzPlaceHolder="Select a person">
            <div *ngFor="let i of itemPositions.data">
              <nz-option nzLabel="{{i.position_name}}" nzValue="{{i.id}}"></nz-option>
            </div>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="fname">ชื่อ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="fname" nz-input id="fname" type="text" name="fname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="lname">สกุล</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="lname" nz-input id="lname" type="text" name="lname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="is_admin">ผู้ดูแลระบบ</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox formControlName="is_admin" id="is_admin" name="is_admin">เป็นผู้ดูแลระบบ</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="status">เปิดใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox formControlName="status" id="status" name="status">เปิดใช้งาน</label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
