<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">
        <span nz-icon nzType="home"></span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="team"></span>
      รายชื่อผู้ใช้งาน
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header class="site-page-header bg-surapon-2" nzTitle="ทะเบียนผู้ใช้งาน"
    nzSubtitle="รายชื่อผู้ใช้งานในระบบ">
    <nz-page-header-extra>
      <nz-space>
        <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <nz-button-group>
            <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()"><span nz-icon
                nzType="search"></span></button>
            <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"></span></button>
          </nz-button-group>
        </ng-template>
        <button *nzSpaceItem nz-button nzType="primary" (click)="openNewUserRegister()">+ เพิ่มผู้ใช้งาน</button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="inner-content">

    <nz-table #userTable nzSize="small" [nzHideOnSinglePage]="true" [nzData]="usersDataSet" class="shadow">
      <thead>
        <tr>
          <th>ชื่อผู้ใช้งาน</th>
          <th>ชื่อ - สกุล</th>
          <th>ประเภท</th>
          <th>ตำแหน่ง</th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable.data">
          <td>{{data.username}}</td>
          <td>{{data.fname}} {{data.lname}}</td>
          <td>{{data.is_admin ? 'ผู้ดูแลระบบ' : 'ผู้ใช้งาน'}}</td>
          <td>{{data.position_name}}</td>
          <td style="text-align: center;">
            <span *ngIf="data.status" nz-icon nzType="check-circle" nzTheme="outline" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></span>
            <span *ngIf="!data.status" nz-icon nzType="close-circle" nzTheme="outline" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#eb2f96'"></span>
          </td>
          <td style="text-align: center;">
            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
              <span nz-icon nzType="menu"></span>
              จัดการ
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="openEditUser(data)">แก้ไขข้อมูล</li>
                <li nz-menu-item (click)="changePassword(data)">เปลี่ยนรหัสผ่าน</li>
                <li nz-menu-item [nzDisabled]="userId === data.user_id" (click)="confirmDelete(data)" nzDanger>
                  ลบรายการ</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <br>
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
      [nzPageSizeOptions]="[20,50,100,500]" (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

  </div>
</nz-content>

<ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>


<app-modal-new-user #mdlNewUser (onSubmit)="onSubmitRegister($event)"></app-modal-new-user>
<app-modal-change-password #mdlChangePassword></app-modal-change-password>
